html
	head
		title= title
		link(href='/css/main.css', rel='stylesheet')
	body
		table(border='1')
			tr
				td Avatar
				td Login
				td URL
			tr
				td
					img(src= avatar , width='80px')
				td
					p= login
				td
					p= url
			tr
				td
					img(src= avatar1 , width='80px')
				td
					p= login1
				td
					p= url1
			tr
				td
					img(src= avatar2 , width='80px')
				td
					p= login2
				td
					p= url2